<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>miExpense</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
    <!-- My css -->
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.css}">
</head>
<body>
<!--<span th:with="message1=${session.message}">-->
<!--    <div th:if="${message1 != null}">-->
<!--        <div class="alert alert-success" role="alert">-->
<!--            <div th:text="${message1}"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</span>-->
<nav class="navbar navbar-expand-lg navbar-success" style="box-shadow: 0px 0px 5px #024736" th:object="${user}">
    <div class="container">
        <div class="navbar-header">
            <h2><a class="navbar-brand logo" href="#" style="font-size: larger">
                miExpense
            </a></h2>
        </div>
        <div>
            <h5 style="font-family: 'Barlow', sans-serif; font-weight: bolder">Welcome <span th:text="${user.getFirstname()+' '+ user.getLastname()}"></span></h5>
        </div>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav navbar-right" style="padding-top: 27px">
<!--            <li class="nav-item" style="padding-right: 30px">-->
<!--                <h3>Balance: # <span>0000</span></h3>-->
<!--            </li>-->
            <li class="nav-item dropdown" >
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="color:black;"
                >
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/processLogout}"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></a></li>
                    <li><a class="dropdown-item" th:href="@{#}">Setting</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item" th:href="@{#}">friends</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    <div class="container sign purch">
        <div class="pack">
            <div class="">
                <div class="modal-header">
                    <div class="modal-title">
                        <h1>Edit Purchase</h1>
                    </div>
                    <a href="home.html">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                    <i class="fa fa-times" aria-hidden="true"></i>
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                    </a>
                </div>
                <div class="">
                    <form th:action="@{/editpagesubmit/{id} (id=${user.getId()})}" th:object="${exp}" method="post" class="purchases">
                        <div class="form-group ">
                            <input
                                    type="text"
                                    th:field="*{details}"
                                    th:value="${exp.getDetails()}"
                                    name="details"
                                    class="form-control"
                                    id="details"
                                    placeholder="Item purchased"

                            />
                        </div>
                        <div class="form-group ">
                            <input
                                    type="text"
                                    th:field="*{noOfItems}"
                                    th:value="${exp.getNoOfItems()}"
                                    name="noOfItems"
                                    class="form-control"
                                    id="noOfItems"
                                    placeholder="Number of Items"

                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="text"
                                    name="amountPerPurchase"
                                    th:field="*{amountPerPurchase}"
                                    th:value="${exp.getAmountPerPurchase()}"
                                    class="form-control"
                                    id="amountPerPurchase"
                                    placeholder="Price per Item"

                            />
                        </div>
                        <div style="margin-top: 1rem" >
                            <button type="submit" name="action" value="editcalculate" class="btn btn-info btn-lg btn-block">
                                calculate
                            </button>
                        </div>
                        <input style="display: none" id="input" type="text" th:field="*{id}" th:value="${exp.getId()}" name="id"/>

                        <br/>
                        <div style="text-align: right;">
                            Total Amount:
                            <input type="text" th:field="*{totalAmount}" th:value="${exp.getTotalAmount()}" >
                        </div>
                        <div>
                            <button  type="submit" name="action" value="editSubmit" class="btn btn-success btn-lg btn-block">
                                Edit Purchase
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
crossorigin="anonymous" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
crossorigin="anonymous" ></script>
<script src="https://use.fontawesome.com/aed9ef824b.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{js/home.js}"></script>
</body>
</html>